/*
 * Hella Robots master stylesheet
 */

/* [TODO]: mini-reset. replace with a real reset. */
h1, h2, h3, h4, h5, div, p, ul, li, section, aside {
  margin: 0;
  padding: 0;
}

body {
  color: rgba(0,0,0, 0.75);
  font-size: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: #F33;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #F33;
  font-weight: bold;
  text-decoration: underline;
}

em {
  font-style: italic;
}

code {
  background-color: #EEEEEE;
  border: 1px solid #AAAAAA;
}

pre {
  margin: 2em 1.5em;
}

pre code {
  display: block;
  line-height: 1.75;
  overflow: auto;
  padding: 15px;
}

#container {
  /* bump down global font size. */
  font-size: .95em;
}

#content {
  margin: 0 auto;
  padding: 25px 0 0;
  width: 850px;
}

p {
  margin-bottom: 1.3em;
}

header {
  border-bottom: 1px dashed #000;
  margin: 0;
  padding: 10px 0;
}

header .logo {
  float: left;
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}

header .logo a:link,
header .logo a:hover,
header .logo a:visited {
  color: #000000;
  text-decoration: none;
}

.main-nav ul {
  float: right;
  list-style-type: none;
  margin-top: 10px;
}

.main-nav ul li {
  float: left;
  margin: 0 0 0 25px;
}

.main-nav ul li a:link,
.main-nav ul li a:visited {
  background-color: #333;
  color: #FFF;
  padding: 3px 6px;
}

.main-nav ul li a:hover {
  background-color: #FFF;
  color: #333;
  padding: 3px 6px;
  text-decoration: none;
}

.footer-inner,
.header-inner {
  margin: 0 auto;
  width: 850px;
}

section {
}

#main {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#main h2 {
  font-size: 1.75em;
  margin-bottom: 0.2em;
}

#main h3,
#main h4 {
  margin-bottom: 0.75em;
}

#main h5 {
  margin-bottom: 0.5em;
  font-style: italic;
}

#main ul {
  list-style-type: none;
}

#main ul li {
  margin-bottom: 1em;
}

#sup-about p {
  font-size: 1.25em;
}

.projects,
.posts {
  list-style-type: none;
}

.projects li,
.posts li {
  border-bottom: 1px dashed #999;
  margin: 10px 0 13px 0;
  padding-bottom: 13px;
}

.posts li p {
  margin-bottom: 1em;
}
.projects li p {
  margin-bottom: 0;
}

/*
.posts li {
  border-bottom: 0;
  margin: 0 0 10px 0;
  padding-bottom: 0;
}
*/

.sidebar {
  margin: 0;
  padding: 0;
}

.sidebar h2 {
  font-size: 1em;
}

footer {
  border-top: 1px dashed #000;
  margin-top: 30px;
  text-align: center;
}

footer p {
  font-size: 0.80em;
  padding-top: 15px;
}

.hero {
  margin-bottom: 30px;
  position: relative;
}

.hero img {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.hero .overlay {
  background-color: #4B4B4B;
  background-color: rgba(75,75,75, 0.75);
  color: #fff;
  font-size: 0.85em;
  line-height: 1.5;
  margin-right: -10px;
  padding: 20px 20px 10px 20px;
  position: absolute;
  right: 0;
  top: 25px;;
  width: 245px;
}

.figure {
  margin: 1.75em 0;  
}

.span5 {
  width: 245px;
}

.span6 {
  width: 300px;
}

.span11 {
  width: 575px;
}

.span16 {
  width: 850px;
}

.span5, .span6, .span11, .span16 {
  display: inline;
  float: left;
  margin-left: 30px;
}

.first {
  margin-left: 0;
}

.full {
  clear: both;
}


/* miscellaneous
----------------------------------------*/

.hero .cite {
  border-top: 1px dashed #ccc;
  font-size: 0.85em;
  padding-top: 1em;
}

.post-meta {
  color: #999999;
  font-size: .9em;
  font-weight: normal;
  margin-bottom: .8em;
}

.references {
  list-style-type: none;
  margin-bottom: 1.5em;
}

.references li {
  margin-bottom: 10px;
}

.download {
  margin-bottom: 30px;
}

.std-btn {
  padding: 8px 12px;
}

.download-btn {
  background-color: #FF3333;
  border: 1px solid #FF5555;
  color: #FFFFFF;
}

.download-btn:link,
.download-btn:visited {
  background-color: #FF3333;
  border: 1px solid #FF7777;
  color: #FFFFFF;
  text-decoration: none;
}

.download-btn:hover {
  background-color: #FF0000;
  border: 1px solid #FF7777;
}

#main .coming-soon {
  font-size: 65px;
  font-weigth: normal;
}


/* clearfix */

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .group {
  height: 1%;
}

*:first-child+html .group {
  min-height: 1px;
}

