<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hella Robots</title>
    <link rel="stylesheet" media="screen" href="/assets/css/master.css"/>

    <!-- enable HTML5 elements in IE7+8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25803931-1']);
      _gaq.push(['_setDomainName', 'hellarobots.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body id="home">
    <div id="container"> 
      <header class="group">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Hella Robots.</a></h1>
          <nav class="main-nav">
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/projects.html">projects</a></li>
              <li><a href="/blog.html">blog</a></li>
              <li><a href="/#about">about</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="content">
        <section id="main" class="group">
          <div class="span16 first">
            {{ content }}
          </div>
        </section> 
      </div>
      <footer>
        <div class="footer-inner">
          <p>&copy; 2011 HellaRobots</p>
        </div>
      </footer>
    </div>
  </body>
</html>
