<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <div id="container"> 
      <header class="group">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Hella Robots.</a></h1>
          {% include nav.html %}
        </div>
      </header>
      <div id="content">
        <div class="hero">
          <img src="/assets/images/gort.jpg" alt="Gort" />
          <div class="overlay">
            <p>Klaatu barata nikto.  How many explosions just went off in your head?</p>
            <p class="cite">Image via <a href="http://www.denofgeek.com/movies/234437/exclusive_pictorial_the_day_the_earth_stood_still_1951.html">Den of Geek</a>.</p>
          </div>
        </div>
        <section id="main" class="group">
          {{ content }}
        </section> 
      </div>
      <footer>
        <div class="footer-inner">
          <p>&copy; 2011 HellaRobots</p>
        </div>
      </footer>
    </div>
  </body>
</html>
